* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  overflow-y: scroll;
 background-color: #F5F5F5;
}

.container {
  margin: 0 auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-card {
  min-width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: #fff;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-card h1 {
  font: 700 2rem/1.25 "Comfortaa", sans-serif;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
color: #005cfe;
}

.form-card p{
  align-self: center;
  font: 400 1.33rem/1.25 "Roboto", sans-serif;
}

.descobrir-endereco{
   display: flex;
   flex-direction: column;
   gap: 20px;

}
.descobrir-cep{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.form-row label {
  display: block;
  margin-bottom: 8px;
  font: 500 1rem/1.25 "Comfortaa", sans-serif;
}

.form-row input {
  width: 100%;
  height: 42px;
  font: 400 1.5rem/1.25 "Roboto", sans-serif;
  padding: 8px;
  background: #FFFFFF;
border: 2px solid #D2CEC5;
border-radius: 5px
}


.form-row input:focus{
  outline: none;
  border-color: #005CFE;
  box-shadow: 2px 2px 4px rgba(0, 92, 254, 0.5);
}

.botoes-escolha{
  display: flex;
  align-items: center;
  align-self: center;
  gap: 20px;
}

button{
max-width: fit-content;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px;
align-self: center;
background-color: #005CFE;
border: none;
border-radius: 10px;
font: 500 1rem/1.25 "Comfortaa", sans-serif;
cursor: pointer;
border: 2px solid none ;

border-radius: 10px;
color: #edf8ff;
}



ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

li{
  align-self: center;
  font: 400 1.33rem/1.25 "Roboto", sans-serif;
}





.hide{
  display: none;
}

.active{
  border: 2px solid #edf5ff;
}